/* ✅ Scroll bar */
#scroll-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: linear-gradient(to right, red, blue);
    z-index: 9999;
    transition: width 0.2s ease;
}

/* ===== CUSTOM CURSOR ===== */
body {
    cursor: none;
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgba(0, 255, 255, 0.7);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all 0.1s ease;
}

/* Glow */
#cursor::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(0, 255, 255, 0.2);
    border-radius: 50%;
    top: -11px;
    left: -11px;
    filter: blur(10px);
}

/* Hover */
.cursor-hover {
    width: 35px !important;
    height: 35px !important;
    background: rgba(255, 0, 255, 0.7);
}

/* Skill animation */
.skill-bar {
    width: 0;
    transition: width 1.5s ease-in-out;
}