.dark-mode{
    background-color: rgb(9, 4, 28);
    color: white;
}
.dark-mode nav{
    background-color: rgb(236, 197, 197);
    color: white;
}
.dark-mode section{
    background-color: #8b868a;
    
}
.dark-mode .bg-white{
    background-color: black;

}
.dark-mode .text-gray-700{
    color: white;  
}